/* ---------------Breakpoints----------------- */
/* ------------------------------------------- */

  @media all and (max-width: 1100px) {
    .signup-text {
      width: 70%;
    }
  }

  @media all and (max-width: 850px) {
    .hero {
      height: 500px; 
    }

    .signup-text {
      width: 80%;
    }
  }

  @media all and (max-width: 780px) {
    .hero {
      height: 450px; 
    }

    .hero-text {
      width: 90%;
    }
  }


  @media all and (max-width: 720px) {

  /*---------Hero Banner -----*/  
    .hero {
      background: 
      linear-gradient( to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.35)), 
      url('../images/banner-girl.png') no-repeat center 40px, 
      url('../images/flower-bkgd.jpg') repeat-x center top;
      position: relative; 
      background-size: cover, 160px 394px, contain;
      height: 380px; 
    }

    .collection{
      font-size: 1rem;
    }

    .months  {
      font-size: 3.7rem;
    }  

    /*--------Gallery-----------*/

    .gallery ul li {
      width: 50%;
      margin-bottom: 40px;
    }


  }

  @media all and (max-width: 600px) {

    html {
     font-size: 14px;
    }

  /*----------Hero banner ----------*/
    .hero {
      background: 
      linear-gradient( to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.35)), 
      url('../images/banner-girl.png') no-repeat center 30px, 
      url('../images/flower-bkgd.jpg') repeat-x center top;
      position: relative; 
      background-size: cover, 128px 315px, cover;
      height: 300px; 
    }

    .collection{
      font-size: .8rem;
    }

    .months  {
      font-size: 2.5rem;
    } 

  /*----------About Section ----------*/

  .about {
    padding: 4rem 3rem;
    height: auto;
  }

  /*----------Product Gallery ----------*/

    .gallery ul li {
      float: none;
      width: 100%;
    } 
  /*----------Signup Section ----------*/
    signup-text {
      width: 100%;
    }

    .signup-form{
      width: 100%;
    }

    input[type="submit"]{
    width: 35%;
    padding: .4rem 2rem;
    text-align: center;
    }


    /*--------Footer-----------*/

    footer {
      height: auto;
    } 

    .left-footer {
      float: none; 
      text-align: center;
    }

    .right-footer {
      float: none;
      text-align: center;
      margin-right: 0;
    }

    .right-footer ul li {
      display: inline-block;
    }

    .social {
      display: none;
    }

  }


