.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}

.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: auto;
   left: 250px;
   top: 20px;
   width: auto;
   border-radius:5px;
   background-color: #e2574c;
   color: #fff;
   outline:none;
   padding:10px;
   z-index: 100000; /* above all content */
}

#main[tabindex="-1"]:focus {
   outline: 0;
}