.signup {
    background: 
      linear-gradient( to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.35)), 
      url(../images/wave-bkgd.jpg) no-repeat;
    background-position: center bottom;
    min-height: 350px;
    position: relative;
    margin-bottom: 10px;
  }

  .signup-text {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
  }

  .signup-text p {
    font-size: 1.1rem;
    padding: 0 1rem;
  }
  .signup-form{
      margin: 2rem auto;
      position: relative;
      width: 67%;
  }

  input:focus {
    box-shadow: 3px 5px 5px 3px rgba(100,100,100,.5);
    outline: none;
  }

  .signup-form input[type="email"]{
     border-radius: 25px;
     padding: .5rem 1.75rem;
     width: 100%;
     height: 45px;
     border: 0;
    }

  .signup-form input[type="submit"]{
    position: absolute;
    top: 4%;
    right: 1%;
    border: 0;
    border-radius: 25px;
    width: 110px;
    background-color: #e2574c;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: .4rem 2rem;
    height: 92%;
  }